@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root
{
  --bgcolor: #282a36;
  --fgcolor: #f8f8f2;
  --comment: #6272A4;
  --currline: #44475A;
  --pink: #FF79C6;
  --cyan: #8be9fd;
  --green: #50fa7b;
  --purple: #bd93f9;
  --orange: #ffb86c;
  --yellow: #f1fa8c;
  --red: #ff5555;
}


body
{
  font-family: 'Poppins';
  font-size: 16px;
  color: var(--fgcolor);
  background-image: url("https://live.staticflickr.com/65535/54418466274_cfb0289ea3_b.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  padding: 20px;
}

#title
{
  font-family: 'Abril Fatface', sans-serif;
  font-size: 38px;
  text-align: center;
  letter-spacing: 2px;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 0.5rem;
  padding: 0;
}

#description
{
  font-size: 18px;
  font-style: italic;
  text-align: center;
  font-weight: 200;
  margin-bottom: 10px;
}

#survey-form
{
  margin: 0 auto;
  max-width: 500px;
  min-width: 300px;
  width: 60vw;
  padding: 2em;
  background-color: var(--bgcolor);
  opacity: 0.8;
}

label {
  display: block;
  margin: 0.5rem 0;
  font-size: 20px;
}


 input, textarea, select {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px; /* Espaçamento entre os campos */
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box; /* Evita que padding aumente a largura total */
  min-height: 2em;
}


.radio,
.checkbox {
  display: inline-block;
  width: unset;
  margin: 0 0.5em 0 0;
  min-height: unset;
}

